.loading-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    .netflix-logo{
        font-size: 3rem;
    }
} 