.announ-container{
    width: 100vw;
    // height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    .announ-info-container{
        position: relative;
        max-width: 48rem;
        height: fit-content;
        background-color: #141414;
        padding: 4rem 3rem;
        border-radius: 10px;
        p{
            margin-top: 1rem;
        }
        a{
            text-decoration: none;
            color: #45a9b6;
            transition: 150ms color ease;
            &:hover{
                cursor: pointer;
                color: rgb(115, 222, 230);
            }
        }
        .announ-close-icon{
            position: absolute;
            font-size: 16px;
            top: 1rem;
            right: 1rem;
            color: rgba(255, 255, 255, 0.7);
            transition: 150ms color ease;
            &:hover{
                color: rgba(255, 255, 255, 0.9);
            }
        }
    }
}